<% content_for :title do %>Content<% end %>
<h2>Content Blocks</h2>

<table width=100%>
  <tr>
    <th>Created</th>
	<th>Summary</th>
	<th>Tags</th>
	<th>Pages</th>		
  </tr>

<% @blocks.each do |block| %>
<% if block.published %>
  <tr style="background: green;">
 <% else %>
 	<tr style="background: red;">
 <% end %>
    <td valign="top"><%=h block.created_at.strftime("%D %H:%M") %></td>
		<td><% if block.summary.strip != "" %><%= link_to(h(block.summary), block) %><% else %><%= link_to("Show", block) %><% end %></td>
		<td><%=raw tag_list(block) %></td>
		<td><%=raw page_list(block) %></td>
	    <td><%= link_to 'Edit', edit_content_block_path(block) %>
			<%= link_to 'Destroy', block, :confirm => 'Are you sure?', :method => :delete %>
		</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Block', new_content_block_path %>