<% content_for :title do %><%= Mortiscms.config.site_name %> - <%= @page.name.capitalize %><% end %>
<% if @page.tag != nil %>
<% for block in @page.tag.blocks %>
<%= link_to(:action => "content", :id => block.id) do %>
<%- if Mortiscms.config.show_titles_in_pages %>
<span class="mortiscms_list_title"><%= block.title -%></span>
<%- else %>
<span class="mortiscms_list_time"><%= block.updated_at.strftime("%H:%M on %b %d, %Y") -%></span>
<%- end %>
<%- end %>
<blockquote>
<%= block.summary %>
</blockquote>
<% end %>
<% end %>
<% if @page.block != nil %>
<%= link_to(@page.block.updated_at.strftime("%H:%M on %b %d, %Y"), :action => "content", :id => @section.block.id) %>
<blockquote>
<%= @page.block.summary %>
</blockquote>
<% end %>