<% content_for :title do %><%= Mortiscms.config.site_name %> - <%= @page.name.capitalize %><% end %>
<% content_for :header do %>
<% if @page.tag != nil %>
	<%= auto_discovery_link_tag(:rss, {:format => :xml}, {:title => "#{Mortiscms.config.site_name} - RSS feed - #{@page.name.capitalize}"}) %>
<% end %>
<% end %>
<% if @page.tag != nil %>
<% for block in @page.tag.blocks %>
<%- if Mortiscms.config.show_titles_in_pages %>
<span class="mortiscms_list_title">
<%= link_to block.title, :action => "content", :id => block.id  -%>
</span>
<span class="mortiscms_list_time">(<%= block.updated_at.strftime("%H:%M on %b %d, %Y") -%>)</span>
<%- else %>
<span class="mortiscms_list_time">
<%= link_to block.updated_at.strftime("%H:%M on %b %d, %Y"), :action => "content", :id => block.id -%>
</span>
<%- end %>
<blockquote>
<%= block.summary %>
</blockquote>
<% end %>
<% end %>
<% if @page.block != nil %>
<%= link_to(@page.block.updated_at.strftime("%H:%M on %b %d, %Y"), :action => "content", :id => @section.block.id) %>
<blockquote>
<%= @page.block.summary %>
</blockquote>
<% end %>