<% content_for :title do %><%= Mortiscms.config.site_name %> - <%= @name.capitalize %><% end %>
<% content_for :header do %>
<%= auto_discovery_link_tag(:rss, {:format => :xml}, {:title => "#{Mortiscms.config.site_name} - RSS feed - #{@name.capitalize}"}) %>
<% end %>
<% for block in @tag.blocks %>
<%= link_to(:action => "content", :id => block.id) do %>
<%- if Mortiscms.config.show_titles_in_pages %>
<span class="mortiscms_list_title"><%= block.title -%></span>
<%- else %>
<span class="mortiscms_list_time"><%= block.updated_at.strftime("%H:%M on %b %d, %Y") -%></span>
<%- end %>
<%- end %>
<blockquote>
<%= block.summary %>
</blockquote>
<% end %>