<% content_for :title do %><%= Mortiscms.config.site_name %> - <%= @name.capitalize %><% end %>
<% content_for :header do %>
<%= auto_discovery_link_tag(:rss, {:format => :xml}, {:title => "#{Mortiscms.config.site_name} - RSS feed - #{@name.capitalize}"}) %>
<% end %>
<% @collection.each do |block| %>
<%- if Mortiscms.config.show_titles_in_pages %>
<span class="mortiscms_list_title">
<%= link_to block.title, :action => "content", :id => block.id  -%>
</span>
<%- end %>
<% if block.published_at != nil -%>
<span class="mortiscms_list_time">(<%= block.published_at.strftime("%H:%M on %b %d, %Y") -%>
	<% if block.updated_at > (block.published_at + 5.minutes) %>
	, last updated at: <%= block.updated_at.strftime("%H:%M on %b %d, %Y") -%>
	<% end %>
)</span>
<% else -%>
<span style="color: red;">Unpublished, last edited at: <%= block.updated_at.strftime("%H:%M on %b %d, %Y") -%></span>
<% end -%>
<blockquote>
<%= block.summary %>
</blockquote>
<% end -%>