<% content_for :title do %>Content Pages<% end %>
<h2>Pages</h2>
<table width="100%">
  <tr>
		<th>Title</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for content_page in @content_pages %>
    <% if content_page.home %>
      <tr style="background-color: green;">
    <% else %>
      <tr>
    <% end %>
      <td><%=h content_page.name %></td>
      <td><%= link_to content_page.text_type, content_page.linked_object %></td>
      <td><%= link_to "Show", content_page %></td>
      <td><%= link_to "Edit", edit_content_page_path(content_page) %></td>
      <td><%= link_to "Destroy", content_page, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Content Page", new_content_page_path %></p>
