<% content_for :title do %>New Tag<% end %>
<h1>New Tag</h1>

<% form_for(@tag) do |f| %>
	<% if @tag.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

	    <ul>
	    <% @tag.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

  <p>
    <%= f.label :name, "Tag Name" %> 
		<%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :pagename, "Tag is a Page?" %><br />
		<%= f.check_box :pagename %>
  </p>
  <p>
    <%= f.label :order_index, "Order:" %><br />
		<%= f.text_field :order_index %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', content_blocks_path %>